body {
  background-color: black;
}

header {
  margin: 0;
  height: 10lvh;
  font-size: 50px;
  background-color: rgb(1, 77, 17);
}

.base {
  height: 88lvh;
  background-color: blue;
  display: flex;
  justify-content: center;
}

main {
  background-color: bisque;
  width: 70%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(14, 1, 1, 0.288);
  outline: 1px solid slategrey;
}

/* ----- contacts ---- */

aside {
  background-color: aqua;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
}

.contact {
}

ul {
  list-style-type: none;
}

.contact-list li {
  padding: 5px;
  margin: 10px;
  height: 100px;
  border-bottom: 2px solid;
  border-color: #efefef;
  background-color: #525252;
}

.name {
  font-size: 1.2rem;
}

.text-end {
}

/* --------- profile chat ----- */
.profile-chat {
  height: 12%;
  background-color: rgb(106, 160, 95);
}

.pp {
  width: 8%;
  height: 10lvh;
  background: url(../pics/pp.jpg) center no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-left: 2lvw;
}

.pp:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

.name-profile {
  padding: 0.8lvh;
  font-size: 1.4em;
}
/* ------- chat box ------- */
.chat {
  background: url(../pics/bg.jpg) center no-repeat;
  background-size: cover;
  height: 83%;
  padding: 0;
  margin: 0;
}

.your-massage {
  background-color: aqua;
  width: fit-content;
  max-width: 500px;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  margin-left: auto;
  overflow-x: wrap;
  overflow-wrap: break-word;
}

.they-massage {
  background-color: #efefef;
  width: fit-content;
  max-width: 500px;
  padding: 5px;
  margin: 10px;
}

.massages {
  height: 100%;
  overflow: scroll;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
}


.massages div {
  border-radius: 5px;
}


/* --------- input massage --------  */

.input-box {
  height: 5%;
  width: 100%;
  background-color: aliceblue;
  z-index: 99;
  display: flex;
}

.input-text {
  height: 87%;
  width: 100%;
}

.input-text:focus {
  outline: none;
}

.input-icon {
  height: 100%;
  width: 5%;
  background-color: #525252;
}
