body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.buttons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
}

button {
  width: 170px;
  height: 70px;
  border-radius: 40px;
  outline: none;
  border: 2px solid #2c4766;
  background: transparent;
}

button:hover {
  border-color: #0fe;
  background-color: #1f293a;
  transform: scale(1.1);
  transition: 0.5s ease;
}

button:hover > a {
  color: #0fe;
  transition: 0.5s ease;
}

.buttons-box:hover > :not(:hover) {
  transition: 0.5s ease;
}

button:hover ~ .button:not(:hover) {
  filter: blur(50%);
  opacity: 0.5;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
}
