:root {
  --primary: #2c4766;
  --secondary: #1f293a;
  --accent: #0fe;
  --text-light: #fff;
}

body {
  background-color: var(--secondary);
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
}

.buttons-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 2px solid var(--primary);
  background: transparent;
  color: var(--text-light);
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.button:hover {
  border-color: var(--accent);
  background-color: var(--primary);
  transform: scale(1.05);
  color: var(--accent);
}

